<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>JJM Cluster</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <!-- Add additional CSS in static file -->
  {% load static %}
  <script defer src="{% static "js/fontawesome-all.js" %}"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <h1><a href="{% url 'toc' %}"><i class="fas fa-home"></i></a></h1>
      <ul class="sidebar-nav">
          <li><a href="{% url 'containers' %}">Why containers?</a></li>
          <li><hr/></li>
          <li><a href="{% url 'how_to_container' %}">How to build a container</a></li>
          <li><a href="{% url 'how_to_freesurfer' %}">How to run freesurfer</a></li>
          <li><a href="{% url 'how_to_fmriprep' %}">How to run fmriprep</a></li>
          <li><hr/></li>
          <li><a href="{% url 'how_to_slurm' %}">Using SLURM</a></li>
          <li><a href="{% url 'how_to_venv' %}">Python Virtualenvs</a></li>
          <li><hr/></li>
          <li><a href="{% url 'docsite' %}">About this documentation site</a></li>
      </ul>
      <ul class="sidebar-nav">
          <li><a href="{% url 'versions' %}"><i class="fas fa-cogs"></i> Software versions</a></li>
          <li><a href="{% url 'slurm' %}"><i class="fas fa-cogs"></i> SLURM status</a></li>
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
    {% block footer %}
      <span class="text-muted">Last updated by Mike Schmidt January 28, 2020</span>
    {% endblock %}
    </div>
  </footer>

</body>

</html>
