{% extends "base_generic.html" %}

{% block content %}

<h2>Virtual Environments</h2>

<p>You shouldn't really be running raw python code developed on the cluster. Your python code should be containerized
    first, so virtual environments won't matter to the cluster.</p>
<p>Please see resources from <a href="https://pymotw.com/3/venv/">Module of the week</a> or the <a
        href="https://docs.python.org/3/library/venv.html">documentation</a> for now.</p>
<p>There are also advantages to using <a href="https://pipenv-fork.readthedocs.io/en/latest/">pipenv</a> to manage
    virtual environments.</p>

{% endblock %}
