{% extends "base_generic.html" %}

{% block content %}

<h2>SLURM batch submission</h2>

<p>Mike has not written any how-to docs yet.</p>
<p>Please see the following resources:</p>
<ul>
	<li><a href="https://www.rc.fas.harvard.edu/resources/documentation/convenient-slurm-commands/">A collection of convenient SLURM commands from the Harvard FAS</a>
		<ul><li>specifically, <a href="https://www.rc.fas.harvard.edu/resources/running-jobs/#Submitting_batch_jobs_using_the_sbatch_command">ways to submit jobs</a></li></ul>
	</li>
	<li><a href="http://ecs.rutgers.edu/slurm_commands.html">SLURM commands from Rutgers ECS</a></li>
</ul>
<p>Or you may want to read the <a href="https://slurm.schedmd.com/sbatch.html">documentation</a>.</p>

{% endblock %}
