{% extends "base_generic.html" %}

{% block content %}

<h1>JJM Cluster</h1>

  <p>Welcome to <em>JJM</em>, a six node SLURM cluster running Ubuntu 18.04.</p>
  <table>
    <tr>
      <th>Node</th><th>IP address</th><th>Cores</th><th>Memory</th><th>Disk</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td>jjm5</td><td>10.20.193.34</td><td>16</td><td>64GB</td><td>880GB</td>
      <td>currently needs re-install of OS, but works</td>
    </tr>
    <tr>
      <td>jjm6</td><td>10.20.193.35</td><td>16</td><td>64GB</td><td>880GB</td>
      <td></td>
    </tr>
    <tr>
      <td>jjm7</td><td>10.20.193.36</td><td>16</td><td>64GB</td><td>880GB</td>
      <td>SLURM Control Node<br />Home directory host<br />Documentation web host</td>
    </tr>
    <tr>
      <td>jjm8</td><td>10.20.193.37</td><td>16</td><td>64GB</td><td>880GB</td>
      <td></td>
    </tr>
    <tr>
      <td>jjm14</td><td>10.20.193.214</td><td>16</td><td>64GB</td><td>880GB</td>
      <td></td>
    </tr>
    <tr>
      <td>jjm15</td><td>10.20.193.215</td><td>16</td><td>64GB</td><td>880GB</td>
      <td>Testing FSL, local and containerized</td>
    </tr>
  </table>
  <p>Use the links in the left sidebar to get information about the cluster, its premises, its software, and its operation.</p>
  <p>If you need an account, or have questions, email <a href="mailto://mike.schmidt@nyspi.columbia.edu">Mike Schmidt</a> and cc <a href=mailto://frank.gonzales@nyspi.columbia.edu">Frank Gonzales</a>.</p>

{% endblock %}
